#nav-container {
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #0e0c31;
  height: 3rem;
  color: #fff;
  align-items: center;
  align-content: center;
  font-size: 1.5rem;
  max-height: 48px;
}

.dropdown-container {
  cursor: pointer;
}

#dropbtn {
  cursor: pointer;
}

#nav-title {
  display: flex;
  cursor: pointer;
  min-width: 100px;
  justify-content: center;
}
#nav-title:hover {
  font-size: 1.8rem;
}

#nav-title:hover .title-tooltip-text {
  visibility: visible;
}
#dropbtn:hover .dropbtn-tooltip-text {
  visibility: visible;
}

#nav-find {
  color: #fff;
}

#nav-us {
  color: red;
}

#dropbtn:hover .dropbtn-num {
  font-size: 1.8rem;
}

.title-tooltip-text {
  position: absolute;
  visibility: hidden;
  top: 100%;
  background: black;
  padding: 0.5rem;
  width: fit-content;
  border-radius: 8px;
  border: 1px transparent solid;
}
.dropbtn-tooltip-text {
  position: absolute;
  visibility: hidden;
  top: 100%;
  background: black;
  padding: 0.5rem;
  width: fit-content;
  border-radius: 8px;
  border: 1px transparent solid;
  font-size: 1rem;
}
