#nav-container {
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #0e0c31;
  height: 3rem;
  color: #fff;
  align-items: center;
  align-content: center;
  font-size: 1.5rem;
}

.dropdown-container {
  cursor: pointer;
}

#nav-title {
  display: flex;
  cursor: pointer;
}
#nav-title:hover .tooltip-text {
  visibility: visible;
}
#dropdown-container:hover .tooltip-text {
  visibility: visible;
}

#nav-find {
  color: #fff;
}

#nav-us {
  color: red;
}

.tooltip-text {
  position: absolute;
  visibility: hidden;
  top: 100%;
  left: 5%;
  background: black;
  padding: 0.5rem;
  width: fit-content;
  border-radius: 8px;
  border: 1px transparent solid;
}
