#dropdown-container {
  display: inline-block;
  position: relative;
  overflow: visible;
}

#dropbtn {
  font-size: 1.5rem;
  border-radius: 50%;
  border: 1px solid transparent;
  text-align: center;
  background-color: #8d0c0c;
  font-weight: 700;
  transition: background-color 0.3s ease;
  color: #fff;
  width: 2.625rem;
  height: 2.625rem;
}

#dropdown-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 300px;
  height: fit-content;
  right: 1%;
  border-radius: 8px;
  color: white;
  gap: 0.5rem;
  padding: 0.5rem;
  background-color: #17134dee;
}

.character-card {
  background-color: #17134dee;
  display: flex;
  padding: 0.5rem;
  align-items: center;
  justify-content: space-between;
  font-size: 1.25rem;
}

.char-image {
  height: 75px;
  width: 75px;
  border-radius: 50%;
}
