#prev-wrapper {
  overflow: hidden;
  min-width: 400px;
  max-width: 50%;
}

#preview-content {
  display: flex;
  margin-top: 1rem;
  justify-content: flex-start;
  overflow: hidden;
  border-radius: 2rem;
  border: 1px solid transparent;
}

#preview-img-container {
  display: flex;
  max-height: 30rem;
  min-height: 30rem;
  align-self: center;
  align-items: center;
}

.prev-img {
  max-height: 100%;
  max-width: 100%;
  min-height: 100%;
}

#chars-and-start-container {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  justify-content: space-evenly;
  align-items: flex-start;
  min-width: 14rem;
  max-width: 14rem;
  background-color: #fff;
}

#preview-chars {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

.char-name-and-from {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
}

.preview-char-icon {
  min-width: 5rem;
  min-height: 5rem;
  max-height: 5rem;
  max-width: 5rem;
  border-radius: 8px;
}

.char-name {
  font-size: 1.5rem;
  font-weight: 600;
}

#select-game-btns {
  padding: 0.5rem;
  display: flex;
  justify-content: space-evenly;
  font-size: 1.5rem;
  gap: 1rem;
}
.select-map-btn {
  font-size: 1rem;
  border-radius: 4px;
}

.select-map-btn {
  background: #5e5df0;
  border-radius: 999px;
  box-shadow: #5e5df0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: Inter, Helvetica, 'Apple Color Emoji', 'Segoe UI Emoji',
    NotoColorEmoji, 'Noto Color Emoji', 'Segoe UI Symbol', 'Android Emoji',
    EmojiSymbols, -apple-system, system-ui, 'Segoe UI', Roboto, 'Helvetica Neue',
    'Noto Sans', sans-serif;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  min-width: fit-content;
  word-break: break-word;
  border: 1px solid transparent;
  min-width: 10rem;
}
.select-map-btn:hover {
  opacity: 75%;
}
.select-map-btn:active {
  border: 1px solid white;
}

#start-game-btn {
  width: 50%;
  background: linear-gradient(93deg, #2a2c80, #fd1d1d 50%, #fcb045);
  transition: transform 0.3s ease;
  border: 0;
  border-radius: 12px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

#start-game-btn:hover {
  opacity: 75%;
}
#start-game-btn:active {
  background: linear-gradient(to bottom right, #ef4765, #ff9a5a);
}

#start-btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

#instructions {
  color: white;
  font-family: 'Nova Mono', monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
  padding: 0.5rem;
}
