#winscreen-container {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.87);
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

#winscreen-content {
  display: flex;
  width: inherit;
  flex-direction: column;
  margin-top: 5%;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
}

#winscreen-fieldset {
  border: 1px transparent;
}

#speed {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#winscreen-form {
  display: flex;
}
#submit-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

#completion-time {
  color: gold;
}

.highscores {
  display: flex;
  flex-direction: column;
  width: 60%;
  max-width: 400px;
}

.highscores > * {
  justify-content: space-between;
  padding: 0.5rem;
  align-items: center;
}

.score {
  display: flex;
}

.userScore {
  display: flex;
  color: gold;
  font-size: 2rem;
}

.display-input {
  display: block;
  visibility: visible;
}

.hide-input {
  visibility: hidden;
}

#resetbtn {
  background: linear-gradient(93deg, #2a2c80, #fd1d1d 50%, #fcb045);
  transition: transform 0.3s ease;
  border: 0;
  border-radius: 12px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 3rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

#resetbtn:hover {
  opacity: 75%;
}
#resetbtn:active {
  background: linear-gradient(to bottom right, #ef4765, #ff9a5a);
}
