service cloud.firestore {
  match /databases/{database}/documents {
    match /gameOneChars/{document=**} {
      allow read:if true;
      allow write: if false;
    }
    match /gameTwoChars/{document=**} {
      allow read:if true;
      allow write: if false;
    }
     match /gameOneHighscores/{document=**} {
      allow read, write:if true;
    }
      match /gameTwoHighscores/{document=**} {
      allow read, write:if true;
    }
  }
}